.button-product {
  display: inline-block;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #fcfcfc;
  background-color: #4d66ec;
  border: none;
  padding: 20px 34px;
  cursor: pointer;
}

.button-product--light {
  color: #2f3250;
  background-color: transparent;
  border: 1px solid #4d66ec;
}

.button-product--size-small {
  padding: 13px 26px;
}

.button-product--size-average {
  padding: 13px 20px;
}

.link-product {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #2f3250;
  text-decoration: underline 1px solid #4d66ec;
  text-underline-offset: 10px;
}
