.navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.site-navigation {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation__link {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #353a5a;
}
.site-navigation__item--active::after {
  display: block;
  position: relative;
  content: '';
  width: 49px;
  border-bottom: 2px dashed #fa9f42;
  top: 5px;
  left: -2px;
}
