:root {
  --color-dark: #001524;
}

.card-container {
  display: flex;
  gap: 30px;
  padding: 98px;
}

.card-product {
  width: min-content;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 400;
  box-shadow: 0px 4px 15px 0px #9da2a61f;
  background-color: #ffffff;
  padding: 24px 10px 20px;
  position: relative;
}

.card-product:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.card-product__promotion {
  position: absolute;
  font-size: 10px;
  line-height: 1.5em;
  font-weight: 500;
  color: var(--color-dark);
  margin: -14px 0 0;
  padding: 5px 8px;
}

.card-product--discount {
  width: 61px;
  border: 1px solid #fb212f;
}

.card-product--bestseller {
  width: 19px;
  border: 1px solid #8962f8;
}

.card-product--cashback {
  width: 61px;
  border: 1px solid #5ebad9;
}

.card-product__link {
  display: flex;
  justify-content: center;
  margin: 0 0 24px;
}

.card-product__block-price {
  display: flex;
  gap: 12px;
}

.card-product__price {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 500;
  color: var(--color-dark);
  margin: 0 0 10px;
}

.card-product__previous-price {
  font-size: 14px;
  line-height: 1.5em;
  color: #797d80;
  text-decoration: line-through;
  margin: 3px 0 13px;
}

.card-product__title {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  color: var(--color-dark);
  margin: 0 0 15px 0;
}

.card-product__info {
  display: flex;
  margin: 0 0 30px 0;
}

.card-product__availability {
  white-space: nowrap;
  color: var(--color-dark);
  margin: 0;
  padding: 0 0 0 22px;
  position: relative;
}

.card-product__availability::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 10px;
  background-image: url(img/ok.svg);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.card-product__rating {
  font-weight: 500;
  color: var(--color-dark);
  margin: 0 0 0 22px;
  padding: 0 0 0 21px;
  position: relative;
}

.card-product__rating::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(img/star-icon.svg);
  left: 0;
}

.card-product__link-to-review {
  white-space: nowrap;
  color: #797d80;
  text-underline-offset: 2px;
  margin: 0 0 0 10px;
}

.card-product__link-to-review:visited {
  color: #99a1a7;
}

.card-product__link-to-review:hover {
  color: #de012c;
  transition-duration: 1s;
}

.card-product__link-to-review:focus,
.card-product__link-review:active {
  color: #c20127;
  transition-duration: 1s;
}

.card-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card-product__btn-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-product__cart-btn {
  max-width: 170px;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
  white-space: nowrap;
  color: #ffffff;
  background-color: #de012c;
  border: 1px solid #de012c;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 7px 50px;
}

.card-product__cart-btn:hover {
  background-color: #c20127;
  transition-duration: 1s;
}

.card-product__cart-btn:focus {
  border: 1px solid #001524;
}

.card-product__cart-btn:active {
  opacity: 0.5;
}

.card-product__favorites-btn {
  width: 20px;
  height: 20px;
  fill: #797d80;
  padding: 0;
}

.card-product__favorites-btn:hover,
.card-product__favorites-btn:focus {
  opacity: 0.7;
}

.card-product__favorites-btn:active {
  opacity: 0.5;
}

.card-product__compare-btn {
  width: 20px;
  height: 20px;
  stroke: #797d80;
  padding: 0;
}

.card-product__compare-btn:hover,
.card-product__compare-btn:focus {
  opacity: 0.7;
}

.card-product__compare-btn:active {
  opacity: 0.5;
}
