.card-product {
  width: min-content;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: #2f3250;
  background-color: #ffffff;
}

.card-product__link {
  display: flex;
  margin: 0 0 20px;
}

.card-product__info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px;
}

.card-product__description {
  margin: 0;
}

.card-product__price {
  margin: 0;
}

.card-product__btn {
  display: flex;
  justify-content: space-between;
}

.card-product__button {
  width: 130px;
  font-family: 'Manrope', sans-serif;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

.card-product__button:hover,
.card-product__button:focus {
  opacity: 0.7;
}

.card-product__button:active {
  opacity: 0.5;
}

.card-product__button--primary {
  color: #fcfcfc;
  background-color: #4d66ec;
  border: 1px solid #4d66ec;
}

.card-product__button--outlined {
  color: #2f3250;
  background-color: transparent;
  border: 1px solid #4d66ec;
}

.card-product__button--large {
  font-size: 16px;
  padding: 20px 34px;
}

.card-product__button--small {
  font-size: 14px;
  padding: 13px 20px;
}
