:root {
  --color-light: #cacde0;
  --color-dark: #2f3250;
}

.container {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  background-color: #4924cff3;
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px;
}

.container-main {
  background-color: #51f1fd;
}

.navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 65px;
  align-items: center;
}

.logo__icon {
  width: 105px;
  height: 40px;
  fill: var(--color-dark);
}

.logo__icon--light {
  fill: var(--color-light);
}

.logo:hover,
.logo:focus {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.site-navigation {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation__link {
  display: block;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  color: var(--color-dark);
}

.site-navigation__link--light {
  color: var(--color-light);
}

.site-navigation__link--active {
  color: #4d66ec;
  text-decoration: underline 1px solid #4d66ec;
  text-underline-offset: 10px;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  opacity: 0.7;
}

.site-navigation__link:active {
  opacity: 0.5;
}

.site-navigation__link--accent {
  text-transform: uppercase;
  color: #fb0f39;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation__link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--color-dark);
}

.user-navigation__link--light {
  color: var(--color-light);
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  opacity: 0.7;
}

.user-navigation__link:active {
  opacity: 0.5;
}

.user-navigation__icon-avatar {
  position: relative;
  border-radius: 50%;
  top: -3px;
}

.user-navigation__icon {
  width: 18px;
  height: 16px;
  fill: var(--color-dark);
}

.user-navigation__icon--light {
  fill: var(--color-light);
}

.user-navigation__filled-favorit {
  position: absolute;
  content: '';
  width: 18px;
  height: 16px;
  border-radius: 50%;
  background-color: #4d66ec;
  text-align: center;
  padding-top: 2px;
  top: 52px;
  left: 1148px;
}

.user-navigation__filled-cart {
  position: absolute;
  content: '';
  width: 18px;
  height: 16px;
  border-radius: 50%;
  background-color: #4d66ec;
  text-align: center;
  padding-top: 2px;
  top: 52px;
  left: 1276px;
}
